<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Dominique Outar</h1>
    <p> I am a third year student studying at the University of the West Indies aspiring to become a software developer. My hobbies include listening to music, reading in order learn new things and exploring new places. I am a hard working individual who believes that anything can be achieved. </p>
</body>
</html>

